<div class="container-header">
    <div class="left">
        <img src="../../../assets/img/logo.png" alt="Logo">
    </div>
    <div class="rigth">
        <div [ngClass]="classeItens">
            <a routerLink="/home" [ngClass]="ativarBotao('home')">Início</a>
            <a routerLink="#" [ngClass]="ativarBotao('menu')">Recomendados</a>
            <a routerLink="#" [ngClass]="ativarBotao('services')">Serviços</a>
            <a routerLink="#" [ngClass]="ativarBotao('about')">Sobre</a>
        </div>
    </div>
</div>    