<div class="container-header">
    <div class="left">
        <img src="../../../assets/img/logo.png" alt="Logo">
    </div>
    <div class="rigth">
        <div [ngClass]="classeItens">
            <a routerLink="/home" [ngClass]="ativarBotao('home')">Home</a>
            <a routerLink="#" [ngClass]="ativarBotao('menu')">Menu</a>
            <a routerLink="#" [ngClass]="ativarBotao('services')">Services</a>
            <a routerLink="#" [ngClass]="ativarBotao('about')">About Us</a>
            <a routerLink="#" [ngClass]="ativarBotao('contact')">Contact</a>
        </div>
    </div>
</div>    