.container-header {
    display: flex;
    justify-content: space-between;
}

.left {
    width: 60%;

    img {
        &:hover {
            cursor: pointer;
        }
    }
}

.rigth {
    width: 40%;
}

.itens {
    padding: 15px 30px 30px 30px;
    background-color: #7C573C;

    a {
        margin: 0 20px 0 20px;
        font-size: 20px;
        color: white;
        text-decoration: none;
        padding: 15px;

        &:hover {
            background-color: #AE8956;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }
    }

    @media (min-width: 769px) and (max-width: 1024px) {
        padding: 5px 15px 15px 15px;

        a {
            margin: 0 5px 0 5px;
            font-size: 14px;
            color: white;
            text-decoration: none;
            padding: 10px;
    
            &:hover {
                background-color: #AE8956;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
            }
        }
    }

    @media (min-width: 1025px) and (max-width: 1440px) {
        padding: 10px 15px 15px 15px;

        a {
            margin: 0 10px 0 10px;
            font-size: 18px;
            color: white;
            text-decoration: none;
            padding: 10px;
    
            &:hover {
                background-color: #AE8956;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
            }
        }
    }
}

.itens-home {
    padding: 15px 30px 30px 30px;
    background-color: #7C573C;
    height: 850px;
    box-shadow: black 0.1em 0.1em 0.2em;

    a {
        margin: 0 20px 0 20px;
        font-size: 20px;
        color: white;
        text-decoration: none;
        padding: 15px;

        &:hover {
            background-color: #AE8956;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }
    }

    @media (min-width: 769px) and (max-width: 1024px) {
        padding: 5px;

        a {
            margin: 0 5px 0 5px;
            font-size: 14px;
            color: white;
            text-decoration: none;
            padding: 10px;
    
            &:hover {
                background-color: #AE8956;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
            }
        }
    }

    @media (min-width: 1025px) and (max-width: 1440px) {
        padding: 10px;
        height: 650px;

        a {
            margin: 0 10px 0 10px;
            font-size: 18px;
            color: white;
            text-decoration: none;
            padding: 10px;
    
            &:hover {
                background-color: #AE8956;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
            }
        }
    }
}

.activate {
    background-color: #AE8956;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}