<div class="container">
    <div class="title">
        <h1>Mais Pedidos</h1>
    </div>

    <div class="itens">
        <div class="left">
            <section>
                <p><span>R$9,50</span>Café Americano</p>
                <div class="left-line">
                    <section></section>
                </div>
            </section>

            <section>
                <p><span>R$8,00</span>Espresso</p>
                <div class="left-line">
                    <section></section>
                </div>
            </section>

            <section>
                <p><span>R$12,00</span>Café Latte</p>
                <div class="left-line">
                    <section></section>
                </div>
            </section>

            <section>
                <p><span>R$13,50</span>Cappuccino</p>
                <div class="left-line">
                    <section></section>
                </div>
            </section>
        </div>

        <div class="rigth">
            <section>
                <p><span>R$8,50</span>Macchiato</p>
                <div class="rigth-line">
                    <section></section>
                </div>
            </section>

            <section>
                <p><span>R$14,50</span>Mocha</p>
                <div class="rigth-line">
                    <section></section>
                </div>
            </section>

            <section>
                <p><span>R$15,00</span>Affogato</p>
                <div class="rigth-line">
                    <section></section>
                </div>
            </section>

            <section>
                <p><span>R$8,50</span>Cold Brew</p>
                <div class="rigth-line">
                    <section></section>
                </div>
            </section>
        </div>
    </div>

    <div>
        <button (click)="voltar()">Fechar</button>
    </div>
</div>