<div class="container">
    <div class="title">
        <h1>Menu Principal</h1>
    </div>

    <div class="itens">
        <div class="left">
            <section>
                <p><span>R$20,00</span>Café Bacana</p>
                <div class="left-line">
                    <section></section>
                </div>
            </section>

            <section>
                <p><span>R$20,00</span>aaaa</p>
                <div class="left-line">
                    <section></section>
                </div>
            </section>

            <section>
                <p><span>R$20,00</span>aaaa</p>
                <div class="left-line">
                    <section></section>
                </div>
            </section>

            <section>
                <p><span>R$20,00</span>aaaa</p>
                <div class="left-line">
                    <section></section>
                </div>
            </section>
        </div>

        <div class="rigth">
            <section>
                <p><span>R$20,00</span>aaaa</p>
                <div class="rigth-line">
                    <section></section>
                </div>
            </section>

            <section>
                <p><span>R$20,00</span>aaaa</p>
                <div class="rigth-line">
                    <section></section>
                </div>
            </section>

            <section>
                <p><span>R$20,00</span>aaaa</p>
                <div class="rigth-line">
                    <section></section>
                </div>
            </section>

            <section>
                <p><span>R$20,00</span>aaaa</p>
                <div class="rigth-line">
                    <section></section>
                </div>
            </section>
        </div>
    </div>
</div>