<app-header [classeItens]="'itens-home'"></app-header>

<div class="container">
    <div class="left-itens">
        <img src="../../../assets/img/rybena_cafe.png" alt="Rybená Café">

        <p>
            O bom humor de hoje é patrocinado pelo café procure seu café agora!
        </p>

        <div>
            <button>
                Catálogo
            </button>
        </div>
    </div>

    <div class="rigth-itens">       
        <img src="../../../assets/img/cafe-home.png" alt="Cafeteira">
    </div>
</div>