<app-header [classeItens]="'itens-home'"></app-header>

<div class="container">
    <div class="left-itens">
        <img src="../../../assets/img/rei-do-cafe.png" alt="Rei Do Café">

        <p>
            Deixe que o café patrocine o bom humor de hoje! Encontre o seu agora mesmo.
        </p>

        <div>
            <button
                (click)="abrirCatalogo()"
            >
                Mais Pedidos
            </button>
        </div>
    </div>

    <div class="rigth-itens">
        <img #cafeteira src="../../../assets/img/cafe-home.png" alt="Cafeteira">
    </div>
</div>