<app-header [classeItens]="'itens'"></app-header>

<div class="title">
    <h1>Produtos Recomendados</h1>
</div>

<div class="cards">

    <button (click)="anterior()">
        <mat-icon>
            arrow_back
        </mat-icon>
    </button>

    <div class="itens">
        <section class="item" id="item1">
            <div>
                <mat-icon
                    matTooltip="Desfrute de uma experiência intensa e encorpada com nosso Arabica Dark Roast, cuidadosamente preparado a partir dos mais seletos grãos de café arábica. Sua complexidade de sabores e aroma profundo proporcionam uma jornada sensorial única, elevando seu apreço pelo café de qualidade premium."
                >
                    info
                </mat-icon>
            </div>
            <img src="../../../assets/img/saco-cafe-marrom.png" alt="Produto 1">
            <section>
                <h4><span>Arabica</span> Dark Roast</h4>
            </section>
        </section>

        <section class="item" id="item2">
            <div>
                <mat-icon
                    matTooltip="Prepare-se para uma explosão de sabor com nosso Robusta Dark Roast. Criado com grãos robusta selecionados, este café oferece uma experiência robusta e intensa. Com sua ousada complexidade de sabores e um toque de amargor característico, cada gole é uma aventura sensorial que desperta os sentidos e revigora o paladar. Descubra a força e a profundidade deste café dark roast premium."
                >
                    info
                </mat-icon>
            </div>
            <img src="../../../assets/img/saco-cafe-roxo.png" alt="Produto 2">
            <section>
                <h4><span>House Blend</span> Dark Roast</h4>
            </section>
        </section>

        <section class="item" id="item3">
            <div>
                <mat-icon
                    matTooltip="Apresentamos nosso Robusta Dark Roast, uma escolha audaciosa para os amantes do café que buscam uma experiência intensa e vigorosa. Feito com os mais selecionados grãos de café robusta, este café oferece uma combinação única de sabores fortes e marcantes. Com sua profundidade e caráter distintivo, cada xícara é uma jornada de sabor que desperta os sentidos e satisfaz os paladares mais exigentes. Descubra a intensidade inigualável do nosso Robusta Dark Roast e eleve sua apreciação pelo verdadeiro café de qualidade."
                >
                    info
                </mat-icon>
            </div>
            <img src="../../../assets/img/saco-cafe-verde.png" alt="Produto 3">
            <section>
                <h4><span>Robusta</span> Dark Roast</h4>
            </section>
        </section>
    </div>

    <button (click)="proximo()">
        <mat-icon>
            arrow_forward
        </mat-icon>
    </button>

    <div class="itens-mobile">

        <div class="button-mobile">
            <button (click)="anteriorMobile()">
                <mat-icon>
                    arrow_back
                </mat-icon>
            </button>
        </div>

        <section class="item-mobile" style="display: block;" id="item1">
            <div>
                <mat-icon
                    matTooltip="Desfrute de uma experiência intensa e encorpada com nosso Arabica Dark Roast, cuidadosamente preparado a partir dos mais seletos grãos de café arábica. Sua complexidade de sabores e aroma profundo proporcionam uma jornada sensorial única, elevando seu apreço pelo café de qualidade premium."
                >
                    info
                </mat-icon>
            </div>
            <img src="../../../assets/img/saco-cafe-marrom.png" alt="Produto 1">
            <section>
                <h4><span>Arabica</span> Dark Roast</h4>
            </section>
        </section>

        <section class="item-mobile" style="display: none;" id="item2">
            <div>
                <mat-icon
                    matTooltip="Prepare-se para uma explosão de sabor com nosso Robusta Dark Roast. Criado com grãos robusta selecionados, este café oferece uma experiência robusta e intensa. Com sua ousada complexidade de sabores e um toque de amargor característico, cada gole é uma aventura sensorial que desperta os sentidos e revigora o paladar. Descubra a força e a profundidade deste café dark roast premium."
                >
                    info
                </mat-icon>
            </div>
            <img src="../../../assets/img/saco-cafe-roxo.png" alt="Produto 2">
            <section>
                <h4><span>House Blend</span> Dark Roast</h4>
            </section>
        </section>

        <section class="item-mobile" style="display: none;" id="item3">
            <div>
                <mat-icon
                    matTooltip="Apresentamos nosso Robusta Dark Roast, uma escolha audaciosa para os amantes do café que buscam uma experiência intensa e vigorosa. Feito com os mais selecionados grãos de café robusta, este café oferece uma combinação única de sabores fortes e marcantes. Com sua profundidade e caráter distintivo, cada xícara é uma jornada de sabor que desperta os sentidos e satisfaz os paladares mais exigentes. Descubra a intensidade inigualável do nosso Robusta Dark Roast e eleve sua apreciação pelo verdadeiro café de qualidade."
                >
                    info
                </mat-icon>
            </div>
            <img src="../../../assets/img/saco-cafe-verde.png" alt="Produto 3">
            <section>
                <h4><span>Robusta</span> Dark Roast</h4>
            </section>
        </section>

        <div class="button-mobile">
            <button (click)="proximoMobile()">
                <mat-icon>
                    arrow_forward
                </mat-icon>
            </button>
        </div>
    </div>

</div>

<div class="offer-container">
    <div class="title">
        <h1>Promoção</h1>
    </div>

    <div class="offer">
        <section>
            <h1>Até 50% de desconto</h1>

            <p>
                No nosso café, nos orgulhamos de proporcionar aos nossos clientes o melhor café ao redor. Nossos cafés cuidadosamente selecionados vêm de algumas das regiões de cultivo de café mais renomadas do mundo, garantindo que cada xícara seja insuperável em sabor e frescor.            
            </p>

            <img id="image-mobile" src="../../../assets/img/oferta.png" alt="Desconto">

            <button (click)="compra()">
                Compre Agora
            </button>
        </section>

        <img src="../../../assets/img/oferta.png" alt="Desconto">
    </div>
</div>