.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Dancing Script';
        font-size: 54px;
        color: #F8E4BE;
        text-shadow: black 0.1em 0.1em 0.2em;
    }
}

.cards {
    width: 100%;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        background-color: #7A5C49;
        padding: 5px;
        border-radius: 40px;
        border: solid 2px #F8E4BE;
        color: #F8E4BE;
        display: flex;

        &:hover {
            cursor: pointer;
            background-color: #F8E4BE;
            border: solid 2px #7A5C49;
            color: #7A5C49;
        }
    }
}

.itens {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.item {
    box-shadow: black 0.1em 0.1em 0.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;

    &:hover {
        cursor: pointer;
        box-shadow: black 0.4em 0.4em 0.5em;
    }

    div {
        height: 5%;
        width: 100%;
        padding: 10px 25px 0 0;
        display: flex;
        flex-direction: row-reverse;

        mat-icon {
            color: #6D544A;

            &:hover {
                cursor: pointer;
            }
        }
    }

    img {
        height: 75%;
    }

    section {
        background-color: #6D544A;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        height: 20%;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h4 {
            font-weight: lighter;
            span {
                font-weight: bold;
                padding: 5px;
                border-right: dotted 1px white;
            }
        }
    }
}

#item1 {
    background: url('../../../assets/img/chicaras-background.png');
    background-color: #53362A;

}

#item2 {
    background: url('../../../assets/img/chicaras-background.png') center;
    background-color: #53362A;

}

#item3 {
    background: url('../../../assets/img/chicaras-background.png') left;
    background-color: #53362A;

}